body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: teal;
}

h1 {
     font-size: 15rem;
     font-family: sans-serif;
}

.letter {
     transition: color 1000ms;
}